
@{
    ViewData["Title"] = "Ingresar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div id="centerForm">
        <div class="row">
            <div class="col-lg-offset-4 col-md-4">
                <div class="card">
                        <img src="~/images/auth.jpg" />
                    <div class="card-body">
                        <form method="post" asp-action="Ingresar">
                            <div class="text-danger">
                                @ViewBag.Error
                            </div>
                            <div class="form-group">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <label label-for="username" class="control-label">Nombre de usuario:</label>
                                <input name="username" class="form-control" type="text" value="@ViewBag.Username" placeholder="Nombre de usuario"/>
                            </div>
                            <div class="form-group">
                                <i class="fa fa-key" aria-hidden="true"></i>
                                <label label-for="Password" class="control-label">Contraseña:</label>
                                <input name="password" class="form-control" type="password" placeholder="Contraseña" />
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Login" class="btn btn-primary col-md-12" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>