    <div class="row">
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Administradores</h5>
                    <p class="card-text">En este componente encontrara las herramientas necesarias para la gestion de administradores</p>
                    <a class="nav-link btn btn-primary" asp-area="" asp-controller="Administradores" asp-action="Index">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Categorias</h5>
                    <p class="card-text">En este componente encontrara las herramientas necesarias para la gestion de Categorias</p>
                    <a class="nav-link btn btn-primary" asp-area="" asp-controller="Categorias" asp-action="Index">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Entradas</h5>
                    <p class="card-text">En este componente encontrara las herramientas necesarias para la gestion de Entradas</p>
                    <a class="nav-link btn btn-primary" asp-area="" asp-controller="Entradas" asp-action="Index">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">EntradaMiembros</h5>
                    <p class="card-text">En este componente encontrara las herramientas necesarias para la gestion de EntradaMiembros</p>
                    <a class="nav-link btn btn-primary" asp-area="" asp-controller="EntradaMiembros" asp-action="Index">Ver</a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Likes</h5>
                    <p class="card-text">En este componente encontrara las herramientas necesarias para la gestion de Likes</p>
                    <a class="nav-link btn btn-primary" asp-area="" asp-controller="Likes" asp-action="Index">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Miembros</h5>
                    <p class="card-text">En este componente encontrara las herramientas necesarias para la gestion de Miembros</p>
                    <a class="nav-link btn btn-primary" asp-area="" asp-controller="Miembros" asp-action="Index">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Preguntas</h5>
                    <p class="card-text">En este componente encontrara las herramientas necesarias para la gestion de Preguntas</p>
                    <a class="nav-link btn btn-primary" asp-area="" asp-controller="Preguntas" asp-action="Index">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Respuestas</h5>
                    <p class="card-text">En este componente encontrara las herramientas necesarias para la gestion de Respuestas</p>
                    <a class="nav-link btn btn-primary" asp-area="" asp-controller="Respuestas" asp-action="Index">Ver</a>
                </div>
            </div>
        </div>
    </div>
